<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title} {% end %}</title>
<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/signin.css" />
</head>
<body>
<script src="../static/js/bootstrap.min.js"></script>


{% block nav %}
{% end %}
<div class="container">
{% block content %}
{% end %}
</div>
<!-- /container -->

{% block footer %}
{% end %}
</body>
</html>