<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>校园活动FM 广播校园里发生的故事</title>

<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="../static/css/signin.css" />
</head>
<body>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.min.js"></script>

	<!-- 	导航栏 -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"></a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="register">注册</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="col-md-4">
			<div class="loginleft">
<!-- 				<form role="form"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label for="exampleInputEmail1">Email address</label> <input -->
<!-- 							type="email" class="form-control" id="exampleInputEmail1" -->
<!-- 							placeholder="Enter email"> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label for="exampleInputPassword1">Password</label> <input -->
<!-- 							type="password" class="form-control" id="exampleInputPassword1" -->
<!-- 							placeholder="Password"> -->
<!-- 					</div> -->

<!-- 					<div class="checkbox"> -->
<!-- 						<label> <input type="checkbox"> Check me out -->
<!-- 						</label> -->
<!-- 					</div> -->
<!-- 					<button type="submit" class="btn btn-default">Submit</button> -->

					<form class="form-signin">
						<h2 class="form-signin-heading">Please sign in</h2>
						<input type="text" class="form-control"
							placeholder="Email address" required autofocus> <input
							type="password" class="form-control" placeholder="Password"
							required> <label class="checkbox"> <input
							type="checkbox" value="remember-me"> Remember me
						</label>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
							in</button>
					</form>
<!-- 				</form> -->
			</div>
		</div>
	</div>
</body>


</html>